
h1 {
    font-family: sans-serif;
    font-weight: 400;
}


label {
    font-family: sans-serif;
    font-weight:300;
}

h3{
  font-family: sans-serif;
  font-weight:300;
}

h4{
    font-family: sans-serif;
    font-weight:200
}

.textInputs{
  width: 40vw;
}

.radioInputs{
    font-family: sans-serif;
    font-weight:300;
}


.imgCarousel {
    width: 20vw;
    height: 27vw;
    /* object-fit:cover; */
}

#presentImageDiv{
  display: flex;
  border: 1px lightgray solid;
  padding: 1vw;

}

presentImageSubDiv{
  display: flex;
}

.memeText{
    font-size: 4vw;
    font-family: sans-serif;
    font-weight: 600;
    z-index: 3;
    text-shadow:
        -1px -1px 0 #000,
        3px -1px 0 #000,
        -1px 1px 0 #000,
        3px 3px 0 #000;
    color: white;
    display:flex

}

#topMemeDiv{
  position: absolute;
  margin-top: -5vw;
  width: 36vw;
  /* max-height: 16vw; */
  z-index: 2;
  padding: 10px;
  /* display: flex; */
}

#topMemeSubDiv{
  /* position: relative; */
  flex-direction: row;
  flex-basis: 0ch;
  justify-content: center;
  display:flex;
  z-index: 3;
  margin: 1px;
  /* flex-shrink: 1; */




}

#topMemeText{
  z-index: 4;
  font-size:200%;


}

#bottomMemeDiv{
  position: absolute;
  margin-top: 34vw;
  width: 36vw;
  /* max-height: 16vw; */
  z-index: 2;
  padding: 10px;
  /* display: flex; */
}

#bottomMemeSubDiv{
  /* position: relative; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  display:flex;
  z-index: 3;

}

#bottomMemeText{
  z-index: 4;
  font-size:200%;

}

#addTextDiv{
  margin-left: 4vw;
  margin-top: 6vw;

}

.largerImg{
  width: 40vw;
  height: 54vw;
  object-fit:cover;
  position: relative;
  z-index: 1;

}

.buttonCarousel{
    width: 3vw;
    height: 27vw;
    border: none;
    font-size: larger;
    font-weight: 400;
}

.textButtons{
  font-family: sans-serif;
  font-weight: 100;
}

#entirePage{
    border: 1px black solid;
    padding: 7px;
    margin: 5px;
    width: 90vw;
}


